[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Shit we throughtogether
[access "refs/*"]
	owner = group user/Sy (SylentScream)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sy (SylentScream)
	label-Verified = -1..+1 group user/Sy (SylentScream)
	push = group user/Sy (SylentScream)
	read = group user/Sy (SylentScream)
	rebase = group user/Sy (SylentScream)
	removeReviewer = group user/Sy (SylentScream)
	submit = group user/Sy (SylentScream)
[access "refs/heads/*"]
	create = group user/Sy (SylentScream)
	push = +force group user/Sy (SylentScream)
	pushMerge = group user/Sy (SylentScream)
	read = group user/Sy (SylentScream)
[access "refs/tags/*"]
	push = group user/Sy (SylentScream)
	push = +force group user/Sy (SylentScream)
